repos:
  - repo: local
    hooks:
      - id: deny-type-ignore
        name: deny-type-ignore
        entry: python scripts/deny_type_ignore.py
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        args: ["--config-file=mypy.ini"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format